<form *ngIf="this.filteredData && this.data">
  <div class="form-group form-inline">
    Full text search:
    <input
      class="form-control ml-2"
      type="text"
      name="searchTerm"
      [(ngModel)]="this.searchTerm"
    />
  </div>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th scope="col">Selección</th>
        <th scope="col" appSortable="nombre" (sort)="onSort($event)">Nombre</th>
        <th scope="col" appSortable="descripcion" (sort)="onSort($event)">
          Concepto
        </th>
        <th scope="col" appSortable="tipoCubrimiento" (sort)="onSort($event)">
          Tipo Cubrimiento
        </th>
        <th scope="col" appSortable="cobertura" (sort)="onSort($event)">
          Cobertura
        </th>
        <th scope="col" appSortable="tipoRiesgo" (sort)="onSort($event)">
          Tipo Riesgo
        </th>
        <th scope="col" appSortable="fechaInicioVigencia" (sort)="onSort($event)">
          Fecha Inicio
        </th>
        <th
          scope="col"
          appSortable="duracionMesesCobertura"
          (sort)="onSort($event)"
        >
          Duración Meses
        </th>
        <th scope="col" appSortable="precio" (sort)="onSort($event)">Precio</th>
        <th scope="col" appSortable="estadoPoliza" (sort)="onSort($event)">
          Estado
        </th>
        <th scope="col" appSortable="cliente" (sort)="onSort($event)">Cliente</th>
        <th scope="col">Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let poliza of this.filteredData">
        <td>
          <input type="checkbox" (click)="onRegistroSeleccionado(poliza)" />
        </td>
        <td>
          <ngb-highlight
            [result]="poliza.nombre"
            [term]="this.searchTerm"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="poliza.descripcion"
            [term]="this.searchTerm"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="poliza.tipoCubrimiento"
            [term]="this.searchTerm"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="poliza.cobertura"
            [term]="this.searchTerm"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="poliza.tipoRiesgo"
            [term]="this.searchTerm"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="poliza.fechaInicioVigencia | date: 'yyyy-MM-dd'"
            [term]="this.searchTerm"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="poliza.duracionMesesCobertura"
            [term]="this.searchTerm"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="poliza.precio"
            [term]="this.searchTerm"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="poliza.estadoPoliza"
            [term]="this.searchTerm"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="poliza.cliente"
            [term]="this.searchTerm"
          ></ngb-highlight>
        </td>
        <td>
          <i
            (click)="onEditarPoliza(poliza)"
            class="fa fa-pencil-square fa-2x"
            aria-hidden="true"
            placement="top"
          ></i
          >&nbsp;
          <i
            (click)="onEliminarPoliza(poliza)"
            class="fa fa-trash fa-2x"
            aria-hidden="true"
            placement="top"
          ></i
          >&nbsp;
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="this.total"
      [(page)]="this.page"
      [pageSize]="this.pageSize"
    >
    </ngb-pagination>

    <select
      class="custom-select"
      style="width: auto"
      name="pageSize"
      [(ngModel)]="this.pageSize"
    >
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>
</form>
