<h2>Login</h2>
<ng-container [formGroup]="usuarioForm">
  <div class="row">
    <div class="form-group col-lg-4 col-md-4 col-sm-12">
      <label for="username">Username</label>
      <input
        formControlName="nombreUsuario"
        type="text"
        class="form-control"
      />
      <div *ngIf="this.usuarioForm.controls.nombreUsuario.errors?.required" class="invalid-feedback">
        Este campo es obligatorio
      </div>
      <div *ngIf="this.usuarioForm.controls.nombreUsuario.errors?.maxlength" class="invalid-feedback">
        La longitud máxima de este campo no puede exceder 49 carácteres.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-4 col-md-4 col-sm-12">
      <label for="password">Password</label>
      <input
        formControlName="contrasenia"
        type="password"
        class="form-control"
      />
      <div *ngIf="this.usuarioForm.controls.contrasenia.errors?.required" class="invalid-feedback">
        Este campo es obligatorio
      </div>
      <div *ngIf="this.usuarioForm.controls.contrasenia.errors?.maxlength" class="invalid-feedback">
        La longitud máxima de este campo no puede exceder 49 carácteres.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-4 col-md-4 col-sm-12">
      <button
        (click)="onLogin()"
        [disabled]="
          !this.usuarioForm.valid
        "
        class="btn btn-primary btn-block"
      >
        Login
      </button>
    </div>
  </div>
</ng-container>
