/Gap.Seguros/Gap.Seguros.API/obj/Debug/*
/Gap.Seguros/.vs/*
/Gap.Seguros/Gap.Seguros.API/obj/*
/Gap.Seguros/Gap.Seguros.Domain/obj/*
/Gap.Seguros/Gap.Seguros.Infrastructure/obj/*
/Gap.Seguros/Gap.Seguros.API/bin/*
/Gap.Seguros/Gap.Seguros.Domain/bin/*
/Gap.Seguros/Gap.Seguros.Infrastructure/bin/*
/Gap.Seguros/Gap.Seguros.UnitTests/bin/*
/Gap.Seguros/Gap.Seguros.UnitTests/obj/*
