<h2>Polizas</h2>
<div class="row">
  <div class="col-lg-8 col-md-12 col-sm-12">
    <app-selector-cliente
      (clienteSeleccionadoEmitter)="onClienteSeleccionado($event)"
      [clientes]="clientes"
    ></app-selector-cliente>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-md-12 col-sm-12">
    <app-grid-poliza
      [data]="polizas"
      [tableConfiguration]="tablaPolizasConfiguration"
      (polizaSeleccionadaEmmiter)="onPolizaSeleccionada($event)"
      (editarPolizaEmmiter)="
        onEditarPolizaSeleccionada($event, plantillaCrudPoliza)
      "
      (eliminarPolizaEmmiter)="onEliminarPolizaSeleccionada($event)"
    ></app-grid-poliza>
  </div>
</div>
<div class="row">
  <div class="col-lg-2 col-md-6 col-sm-12">
    <button (click)="onConsultarPolizas()" class="btn btn-primary btn-block">
      Consultar Polizas
    </button>
    <br />
  </div>
  <div class="col-lg-2 col-md-6 col-sm-12">
    <button
      (click)="onCrearPoliza(plantillaCrudPoliza)"
      class="btn btn-primary btn-block"
    >
      Crear Poliza
    </button>
    <br />
  </div>
  <div class="col-lg-2 col-md-6 col-sm-12">
    <button (click)="onCancelarPolizas()" class="btn btn-primary btn-block">
      Cancelar Polizas
    </button>
    <br />
  </div>
  <div class="col-lg-2 col-md-6 col-sm-12">
    <button
      (click)="onAsignarClientePolizas()"
      class="btn btn-primary btn-block"
    >
      Asignar Polizas Cliente
    </button>
  </div>
</div>

<ng-template #plantillaCrudPoliza let-modal>
  <div class="modal-header">
    <h4 *ngIf="!esEditarPoliza" class="modal-title">Crear Póliza</h4>
    <h4 *ngIf="esEditarPoliza" class="modal-title">Editar Póliza</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="salirModalCrudPoliza()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-crud-poliza
      (salirModalCrudPolizaEmmiter)="salirModalCrudPoliza()"
      (guardarPolizaEmmiter)="onGuardarPoliza($event)"
      [clientes]="clientes"
      [tiposRiesgo]="tiposRiesgo"
      [tiposCubrimiento]="tiposCubrimiento"
      [poliza]="polizaSeleccionadaEditar"
      [esEditarPoliza]="esEditarPoliza"
      [estadosPoliza]="estadosPoliza"
    ></app-crud-poliza>
  </div>
</ng-template>
