<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="input-group">
      <input
        (ngModelChange)="OnChangeFecha()"
        (click)="dateControl.toggle()"
        class="form-control"
        placeholder="{{ formato }}"
        name="dp"
        [(ngModel)]="model"
        ngbDatepicker
        [footerTemplate]="footerTemplate"
        #dateControl="ngbDatepicker"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          (click)="dateControl.toggle()"
          type="button"
        >
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <ng-template #footerTemplate>
      <hr class="my-0" />
      <button
        class="btn btn-primary btn-sm m-2 float-left"
        (click)="setDateTime(today)"
      >
        Hoy
      </button>
      <button
        class="btn btn-primary btn-sm m-2 float-left"
        (click)="setDateTime(mesActual)"
      >
        Mes actual
      </button>
      <button
        class="btn btn-primary btn-sm m-2 float-left"
        (click)="setDateTime(mesAnterior)"
      >
        Mes anterior
      </button>
      <button
        class="btn btn-primary btn-sm m-2 float-left"
        (click)="setDateTime(ultimosTreintaDias)"
      >
        Ultimos 30 días
      </button>
      <button
        class="btn btn-secondary btn-sm m-2 float-right"
        (click)="dateControl.close()"
      >
        Cerrar
      </button>
    </ng-template>
  </div>
</div>
