<ng-container [formGroup]="polizaForm">
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label>Nombre</label>
        <input
          formControlName="nombrePoliza"
          type="text"
          class="form-control"
          placeholder="Nombre Póliza"
        />
        <div
          *ngIf="this.polizaForm.controls.nombrePoliza.errors?.required"
          class="invalid-feedback"
        >
          Este campo es obligatorio
        </div>
        <div
          *ngIf="this.polizaForm.controls.nombrePoliza.errors?.maxlength"
          class="invalid-feedback"
        >
          La longitud máxima de este campo no puede exceder 40 carácteres.
        </div>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label>Descripción</label>
        <textarea
          formControlName="descripcionPoliza"
          class="form-control"
          placeholder="Descripción Póliza"
        ></textarea>
        <div
          *ngIf="this.polizaForm.controls.descripcionPoliza.errors?.maxlength"
          class="invalid-feedback"
        >
          La longitud máxima de este campo no puede exceder 140 caracteres.
        </div>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label>Cobertura</label>
        <input
          type="number"
          formControlName="cobertura"
          class="form-control"
          placeholder="Cobertura Póliza"
        />
        <div
          *ngIf="this.polizaForm.controls.cobertura.errors?.required"
          class="invalid-feedback"
        >
          Este campo es obligatorio
        </div>
        <div
          *ngIf="this.polizaForm.controls.cobertura.errors?.max"
          class="invalid-feedback"
        >
          El valor no puede ser mayor a 100.
        </div>
        <div
          *ngIf="this.polizaForm.controls.cobertura.errors?.min"
          class="invalid-feedback"
        >
          El valor no puede ser menor a 0.
        </div>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label>Fecha Inicio Vigencia</label>
        <app-date-control
          #fechaInicioVigencia
          [dcFecha]="poliza.fechaInicioVigencia"
        ></app-date-control>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <fieldset class="form-group">
        <label>Duración Meses Cobertura</label>
        <input
          type="number"
          formControlName="duracionMesesCobertura"
          class="form-control"
          placeholder="Duración meses Cobertura Póliza"
        />
        <div
          *ngIf="
            this.polizaForm.controls.duracionMesesCobertura.errors?.required
          "
          class="invalid-feedback"
        >
          Este campo es obligatorio
        </div>
        <div
          *ngIf="this.polizaForm.controls.duracionMesesCobertura.errors?.max"
          class="invalid-feedback"
        >
          El valor no puede ser mayor a 10000.
        </div>
        <div
          *ngIf="this.polizaForm.controls.duracionMesesCobertura.errors?.min"
          class="invalid-feedback"
        >
          El valor no puede ser menor a 0.
        </div>
      </fieldset>
    </div>
    <div class="col-md-6 col-sm-12">
      <fieldset class="form-group">
        <app-selector-cliente
          (clienteSeleccionadoEmitter)="onClienteSeleccionado($event)"
          [clientes]="clientes"
          [clienteSeleccionadoId]="poliza?.usuarioId"
        ></app-selector-cliente>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <fieldset class="form-group">
        <label>Tipo Riesgo</label>
        <ng-select
          *ngIf="tiposRiesgo"
          formControlName="tipoRiesgo"
          placeholder="Seleccione el Tipo de riesgo"
        >
          <ng-option
            *ngFor="let tipoRiesgo of tiposRiesgo"
            [value]="tipoRiesgo.id"
            >{{ tipoRiesgo.nombre }}</ng-option
          >
        </ng-select>
        <div
          *ngIf="this.polizaForm.controls.tipoRiesgo.errors?.required"
          class="invalid-feedback"
        >
          Este campo es obligatorio
        </div>
      </fieldset>
    </div>
    <div class="col-md-6 col-sm-12">
      <fieldset class="form-group">
        <label>Tipo Cubrimiento</label>
        <ng-select
          *ngIf="tiposCubrimiento"
          formControlName="tipoCubrimiento"
          placeholder="Seleccione el Tipo de cubrimiento"
        >
          <ng-option
            *ngFor="let tipoCubrimiento of tiposCubrimiento"
            [value]="tipoCubrimiento.id"
            >{{ tipoCubrimiento.nombre }}</ng-option
          >
        </ng-select>
        <div
          *ngIf="this.polizaForm.controls.tipoCubrimiento.errors?.required"
          class="invalid-feedback"
        >
          Este campo es obligatorio
        </div>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <fieldset class="form-group">
        <label>Precio</label>
        <input
          formControlName="precioPoliza"
          type="number"
          class="form-control"
          placeholder="Precio de la Póliza"
        />
        <div
          *ngIf="this.polizaForm.controls.precioPoliza.errors?.required"
          class="invalid-feedback"
        >
          Este campo es obligatorio
        </div>
        <div
          *ngIf="this.polizaForm.controls.precioPoliza.errors?.max"
          class="invalid-feedback"
        >
          El valor no puede ser mayor a 999999.
        </div>
        <div
          *ngIf="this.polizaForm.controls.precioPoliza.errors?.min"
          class="invalid-feedback"
        >
          El valor no puede ser menor a 0.
        </div>
      </fieldset>
    </div>
    <div class="col-md-6 col-sm-12" *ngIf="esEditarPoliza">
      <fieldset class="form-group">
        <label>Estado Poliza</label>
        <ng-select
          *ngIf="estadosPoliza"
          formControlName="estadoPoliza"
          placeholder="Seleccione el Estado de la póliza"
        >
          <ng-option
            *ngFor="let estadoPoliza of estadosPoliza"
            [value]="estadoPoliza.id"
            >{{ estadoPoliza.nombre }}</ng-option
          >
        </ng-select>
        <div
          *ngIf="this.polizaForm.controls.estadoPoliza.errors?.required"
          class="invalid-feedback"
        >
          Este campo es obligatorio
        </div>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-3 col-sm-12">
      <button
        class="btn btn-primary btn-block"
        type="button"
        (click)="onGuardarPoliza(fechaInicioVigencia)"
        [disabled]="this.polizaForm.controls.nombrePoliza.errors ||
        this.polizaForm.controls.descripcionPoliza.errors ||
        this.polizaForm.controls.cobertura.errors ||
        this.polizaForm.controls.duracionMesesCobertura.errors ||
        this.polizaForm.controls.tipoRiesgo.errors ||
        this.polizaForm.controls.tipoCubrimiento.errors ||
        this.polizaForm.controls.precioPoliza.errors || 
        (this.polizaForm.controls.estadoPoliza.errors && this.esEditarPoliza)"
      >
        Guardar
      </button>
      <br />
    </div>
    <div class="col-lg-6 col-md-3 col-sm-12">
      <button
        class="btn btn-primary btn-block"
        type="button"
        (click)="onSalirModal()"
      >
        Salir
      </button>
      <br /><br />
    </div>
  </div>
</ng-container>
